<header class="main-header">

    <div class="primero">
        
        <div class="Logo">
            <a href="/"><img src="/img/este_si3.png" width="150" alt="LogoMPC"></a>
        </div>
        
        <div class="segundo">

            <form class="form0" action="/search" method="GET">

            <input class="la-bara" type="text" name="search" placeholder="Buscar productos, marcas">
            <button class="submitt" type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
        

        
        <div class="inicio">
            <% if (locals.isLogged) { %>
                <li class="nav-barr" ><a href="/logout">Cerrar sesión</a></li>
                <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
            <% }else { %>
            <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
            
            <% } %>
            
        </div>

    </div>


    <nav class="tercero">
        <div class="nav-barr">
            <ul>
               
                <li><a href="/">Inicio</a></li>
                <li><a href="/todos">Productos </a></li>
                <li><a href="#">Arma tu pc</a></li>
                <li><a href="/perfil">Mi cuenta</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </div>
    </nav>

    <nav><div class="burger-menu" >

        <input type="checkbox" id="menu">
        <label for="menu"> <i class="fa fa-bars burger"></i> </label>


        <ul class="burger-menu2">
            
                <li class="desplegableM"><a href="/todos">Productos </a></li>
                <li class="desplegableM"><a href="#">Encontra tu equipo</a></li>
                <li class="desplegableM"><a href="#">Arma tu pc</a></li>
                
                <li class="desplegableM"><a href="#">Ayuda</a></li>
                <% if (locals.isLogged) { %>
                    <li class="desplegableM"><a href="/perfil">Mi cuenta</a></li>
                    <li class="desplegableM"><a href="/productCart">Mi carrito</a></li>
                    <li class="desplegableM"><a href="/logout">Cerrar sesión</a></li>
                
                    <% }else { %>
                <li class="desplegableM"><a href="/login">Iniciar Sesión</a></li>
                <% } %>
            </ul>
    </div>


</header>